/* Dashboard */
body {
  height: 4600px;
}

#halaman5 {
  padding-bottom: 50px;
}

#halaman5 p a {
  color: greenyellow;
}

#halaman5 p a:hover {
  color: rgb(218, 252, 167);
}

/* FOOTER */

#footer p a {
  color: greenyellow;
  text-decoration: none;
}

#footer p a:hover {
  color: rgb(218, 252, 167);
}

#footer {
  border-radius: 20px;
  margin-left: 16%;
  width: 70%;
  padding-top: 10px;
}

.container p {
  font-size: larger;
  font-weight: 600;
}

#halaman5 img {
  transition: all 0.3s;
  filter: drop-shadow(0px 0px 10px #00000096);
}

#halaman5 img:hover {
  scale: 1.04;
}

@media screen and (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .header-box h1 {
    display: flex;
    justify-content: center;
  }

  #halaman3 {
    display: flex;
    flex-direction: column;
  }

  #halaman4 .container .row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #halaman4 .container .col-4 {
    margin-left: 150px;
    margin-bottom: 20px;
    display: flex;
  }
}
